<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Leonard Ehrenfried" />
    <meta name="disqus-identifier" content="{{ page.meta.dsq_thread_id }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/blog/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/blog/stylesheets/syntax.css" />
    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <section id="frame">
      <nav>
        <ul>
          <li><a href="/blog/about.html">About me</a></li>
          <li><a href="https://github.com/lenniboy/">My github</a></li>
          <li><a href=/blog/feed.xml">Feed</a></li>
        </ul>
      </nav>
      <header>
        <h1><a href="/">My little notebook</a></h1>
      </header>
      {{ content }}
    </section>
  </body>
</html>
