<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Leonard Ehrenfried" />
    <meta name="disqus-identifier" content="{{ page.meta.dsq_thread_id }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} · Leonard Ehrenfried's blog</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/syntax.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/font-awesome.css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="alternate" href="http://lenni.info/blog/feed.xml" type="application/rss+xml" />
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>

      <a href="/blog/">
        <h4 class="logo">MY NOTEBOOK</h4>
      </a>
      <div class="menubutton"><i class="icon-reorder"></i></div>
      <nav>
        <ul>
          <li><a href="/hire-me/">HIRE ME</a></li>
          <li><a href="/blog/about.html">ABOUT</a></li>
          <li><a href="https://github.com/lenniboy/">MY GITHUB</a></li>
          <li><a href="http://lenni.info/blog/feed.xml">FEED</a></li>
        </ul>
      </nav>
      <br class="clear">

    </header>

      <!--div id='influads_block' class='influads_block'></div>
      <script type='text/javascript'>(function(){var acc='acc_963d701_pub';var st='css';var or='130';var e=document.getElementsByTagName('script')[0];var d=document.createElement('script');d.src=('https:' == document.location.protocol ?'https://' : 'http://') +'engine.influads.com/show/'+or+'/'+st+'/'+acc;d.type='text/javascript';d.async=true;d.defer=true; e.parentNode.insertBefore(d,e);})();</script-->

    {{ content }}

    <footer>
      <div class="slate">
        <div class="four columns">
        </div>
        <div class="four columns">
        </div>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script>
      (function(){
        var $ = Zepto;
        $(document).ready(function(){
          $(".menubutton").on("click", function(){
            $("header nav").toggle();
          });
        });
      })();
    </script>
  </body>
</html>
